api_image=asia.gcr.io/<gcp_project>/fruits-api
ui_image=asia.gcr.io/<gcp_project>/fruits-ui
gcp_region=<your gcp region>
google_cloud_project=<your gcp project>
service_account_json='<your gcp SA JSON>'
vercel_token=<your vercel token>
vercel_project_id=<your vercel project>
vercel_org_id=<your vercel org>